<div class="container">
  <h1>Let's play!</h1>

  <h3>Game info</h3>
  <p>ID: <%= @game.id %></p>
  <p>Password: <%= @game.password %></p>

  <% @players.each do |player| %>
    <p><%= player.name %></p>
  <% end %>
</div>
