<div class="container">
  <h1>Let's play!</h1>

  <h3>Game info</h3>
  <p>ID: <%= @game.id %></p>
  <p>Password: <%= @game.password %></p>

  <h3>Game</h3>
  <div class="game-container d-flex justify-content-between text-center">
    <% @players.each do |player| %>
      <div class="player-container">
        <p><%= player.name %></p>
        <%= @game.game_type %>
      </div>
    <% end %>
  </div>
</div>
